/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

/* * {
    color-scheme: light dark;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */
